<h2>Horses Index Page</h2>
<br>
<% @horses.each do |horse| %>
  <h4><p>Name: <%= horse.name %></p></h4>
  <p>Breed: <%= horse.breed %></p>
  <p>Age: <%= horse.age %></p>
  <p>Trail_user: <%= horse.trail_user %></p>
  <p>Arena_user: <%= horse.arena_user %></p>
  <p>Paid: <%= horse.paid %></p>

  <br>
  <%= button_to "Remove #{horse.name}", "/horses/#{horse.id}", method: :delete %>
  <%= link_to "Update #{horse.name}", "/horses/#{horse.id}/edit"%>
<br>
  <% end %>