<h2>Barn</h2> 


 <%= link_to 'Update Barn', "barns/#{@barn.id}"%>
 

<p>location: <%=@barn.location%></p>
<p>name: <%=@barn.name%></p>
<p>trail access: <%=@barn.trail_access%></p>
<p>arena: <%=@barn.arena%></p>
<p>monthly fee: <%=@barn.monthly_fee%></p>
<p>stalls: <%=@barn.stalls%></p>
<p>vacancy: <%=@barn.vacancy%></p>

<p>Number of Horses: <%=@barn.count_of_horses%></p>

<h4><%= link_to "Horses at this Barn", "/barns/#{@barn.id}/horses" %></h4>
