<h2>Barn</h2> 

<p>location: <%=@barn.location%></p>
<p>name: <%=@barn.name%></p>
<p>trail access: <%=@barn.trail_access%></p>
<p>arena: <%=@barn.arena%></p>
<p>monthly fee: <%=@barn.monthly_fee%></p>
<p>stalls: <%=@barn.stalls%></p>
<p>vacancy: <%=@barn.vacancy%></p>
